<div class="container">
    <h1>todos</h1>
    <div class="downArrow">
        <div>
            <label (click)='markAll()' class="strelka-vniz"></label> 
        </div>
    </div>  
        <input class="to-do-input" type="text" name="todo" [(ngModel)]="inputValue" placeholder="What needs to be done?" (keyup)="addTask($event)">
       
   
</div>
<div class="hiddenPart">
    
    <ul>
        <ng-container *ngFor='let item of taskArray, let i = index'>

            <li *ngIf='item.completed == shownStatus || showAll'>            
                <div class="round">
                    <input [checked]='item.completed' (change)="markComplete(taskArray, i)" class="checkbox" type="checkbox" [id]="'checkbox' + i">
                    <label [for]="'checkbox' + i"></label>
                </div>
                <span>{{item.name}}</span>
                <button class="deleteB" (click)="deleteTask(i, taskArray)">&#10006;</button> 
            </li>
        </ng-container>
    </ul>
    <footer>
        <div>
            <span>{{completedCount}} items left</span> 
        </div>
        <div>
            <button (click)="toShowAll()">All</button> 
            <button (click)="show(false)">Active</button>
            <button (click)="show(true)">Completed</button>
        </div>
        <div>
            <span class="underline" (click)="clearCompleted()">Clear completed</span>
        </div>
        </footer>
</div>