<div class="container">
    <h1>todos</h1>
    <input class="to-do-input" type="text" name="todo" [(ngModel)]="inputValue" placeholder="What needs to be done?" (keyup)="addTask($event)">
</div>
<button (click)='console()'>aaaaaaaaaaaaaa</button>
<div class="hiddenPart">
    <ul>
        <ng-container *ngFor='let item of taskArray, let i = index'>
            <li *ngIf='item.completed == shownStatus || showAll'><input [checked]='item.completed' (change)="markComplete(i, taskArray)" class="checkbox" type="checkbox">{{item.name}}</li> 
        </ng-container>
    </ul>
    <footer>
        <button (click)="toShowAll()">All</button> 
        <button (click)="show(false)">Active</button>
        <button (click)="show(true)">Completed</button>
    </footer>
</div>

<div>
    <ul>    
        <ng-container *ngFor='let item of taskArray'>
            <li *ngIf='item.completed'>{{item.name}}</li>
        </ng-container>
    </ul>
</div>